
    <!--Spy Menu -->
    <div class="spy-donation js-spy spy-dona" data-pause="1000">
        <div class="spy-donation-open js-spy-open"><span><img src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/HEART_2x_e30735bd-6a1a-44f2-aff2-f8996ed403ce.png?v=1716466586"></span></div>
        <div class="spy-donation-close js-spy-close"><i class="icon-close"></i></div>
        <div class="spy-donation-inside">
            <div class="newsletter newsletter-popup">
                <div class="newsletter-text-wrap">
                  <img src="https://ghostgiver.com/cdn/shop/files/Group_42516_2x_c17da315-bd98-40b1-bfd5-cbdf8ba11234.png">
                    <h2 class="newsletter-title">DONATE TO OUR FOUNDATION</h2>
                    <div class="newsletter-text">
                      <p>Help us to do ghost gives to deserving individuals, families and organizations by donating or rounding up.</p>
                      
<div class="item-dona-btns">
                            <a class="dona-btn" href="/pages/foundation-new">Learn More </a>
                            <!-- <a class="dona-btn"href="/pages/foundation">Donation </a> -->
                        </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
