<style>.tab-block{width:100%;margin:50px auto;margin-bottom:0}.tab-block .tab-menu{display:block;list-style:none;text-transform:uppercase;text-align:center;margin:0;padding:0;margin-bottom:50px}.tab-cont-footer{margin-top:80px;text-align:center}.tab-cont-footer h2{font-size:2.2em;letter-spacing:-1px}.tab-block li{background-color:#1e3d5a;color:#fff;font-weight:600;width:225px;text-align:center;cursor:pointer;user-select:none;display:inline-block;padding:8px 15px}.tab-block li:hover:not(.active){background:#ac5ed4}.tab-block .active{background-color:#ac5ed4;cursor:default}.site-color{color:#ac5ed4}.tab-cont{width:100%;min-height:400px}.tab-cont .tab-pa{padding:20px 25px;max-width:1000px;margin:0 auto}.tab-cont h1{font-size:3.5em;font-weight:700;color:#af59d7;text-align:center}.tab-cont p{text-align:left;margin-bottom:1.2em}.tab-author{font-size:1.3em}.bg-main-works{max-width:100%;margin:0 auto;display:block}.span-footer{display:block;margin-bottom:70px}@media screen and (max-width:768px){.span-footer{margin-bottom:50px}.tab-cont-footer{margin-top:50px}.tab-cont h1{font-size:2em}.tab-cont-footer h2{font-size:1.2em}.tab-block li{font-size:.8em;width:100px;padding:5px 3px}.bg-works-contain{display:block;width:100%;margin:20px auto}}</style>

<img class="bg-main-works" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/banner_we_are.jpg?v=1607310928" />

<div class="container">
    <div class="tab-block" id="tab-block">
        <ul class="tab-menu">
            <li class="active">GIB THE GHOST</li>
            <li>WHAT WE DO</li>
            <li>WHY WE DO IT</li>
        </ul>
        <div class="tab-cont">
            <div class="tab-pa">
                <h1>MEET GIB</h1>
                <p>
                    Like all good ghosts. Gib tried making a living from scaring people, haunting drafty old houses, and lingering around graveyards afier dark. But scanng people was the worst. Gib was terrible at his job, He wasn't a
                    naturally mean ghost, and he really wasn't feeling this haunting, spooking. and creeping people out gig.It was never going to work.
                </p>
                <p>
                    One day an idea popped into his little ghost brain: why can't ghosts NOT be spooky? What's the opposite Of spooky? Being kind, Giving a gift. Taking a treat to someone. Paying compliments like, "You're awesome!" Or just
                    bringing some unexpected joy into the world. Now that was a ghost thing —a ghosting! —Gib could get behind. Determinad to give it a try, he started leaving little anonymous surprises for friends & family. Sometimes, Gib
                    even "ghosted" perfect strangers.
                </p>
                <p>
                    And whaddya know? Not only did THEY seem to feel better & brightar, HE always felt better & brighter! Gib. Was. Hooked. This good ghosting thing was fun, and for the first time in a long time, he was happy. Like, REALLY
                    happy. And that wasn't something he thought he should keep to himself. It was too simple and too powerful not to share. "Everyone." Gib thought, "should get to feel this good. All they have to do is give."
                </p>
                <br />
                <p>
                    And boo'm —Ghost Giver was born.
                </p>

                <div class="tab-cont-footer">
                    <h2>READY TO LEARN MORE?</h2>

                    <span class="span-footer">Don't forget to check out our HOW IT WORKS and GHOST STORIES pages!</span>

                    <h2 class="site-color">
                        NO ACT OF KINDNESS,<br />

                        NO MATTER HOW SMALL, <br />

                        IS EVER WASTED
                    </h2>

                    <span class="tab-author">-Aesop</span>
                </div>
            </div>
            <div class="tab-pa">
                <h1>WHAT WE DO</h1>
                <p>
                    Like all good ghosts. Gib tried making a living from scaring people, haunting drafty old houses, and lingering around graveyards afier dark. But scanng people was the worst. Gib was terrible at his job, He wasn't a
                    naturally mean ghost, and he really wasn't feeling this haunting, spooking. and creeping people out gig.It was never going to work.
                </p>
                <p>
                    One day an idea popped into his little ghost brain: why can't ghosts NOT be spooky? What's the opposite Of spooky? Being kind, Giving a gift. Taking a treat to someone. Paying compliments like, "You're awesome!" Or just
                    bringing some unexpected joy into the world. Now that was a ghost thing —a ghosting! —Gib could get behind. Determinad to give it a try, he started leaving little anonymous surprises for friends & family. Sometimes, Gib
                    even "ghosted" perfect strangers.
                </p>
                <p>
                    And whaddya know? Not only did THEY seem to feel better & brightar, HE always felt better & brighter! Gib. Was. Hooked. This good ghosting thing was fun, and for the first time in a long time, he was happy. Like, REALLY
                    happy. And that wasn't something he thought he should keep to himself. It was too simple and too powerful not to share. "Everyone." Gib thought, "should get to feel this good. All they have to do is give."
                </p>
                <br />
                <p>
                    And boo'm —Ghost Giver was born.
                </p>

                <div class="tab-cont-footer">
                    <h2>READY TO LEARN MORE?</h2>

                    <span class="span-footer">Don't forget to check out our HOW IT WORKS and GHOST STORIES pages!</span>

                    <h2 class="site-color">
                        NO ACT OF KINDNESS,<br />

                        NO MATTER HOW SMALL, <br />

                        IS EVER WASTED
                    </h2>

                    <span class="tab-author">-Aesop</span>
                </div>
            </div>
            <div class="tab-pa">
                <h1>WHY WE DO IT</h1>
                <p>
                    Like all good ghosts. Gib tried making a living from scaring people, haunting drafty old houses, and lingering around graveyards afier dark. But scanng people was the worst. Gib was terrible at his job, He wasn't a
                    naturally mean ghost, and he really wasn't feeling this haunting, spooking. and creeping people out gig.It was never going to work.
                </p>
                <p>
                    One day an idea popped into his little ghost brain: why can't ghosts NOT be spooky? What's the opposite Of spooky? Being kind, Giving a gift. Taking a treat to someone. Paying compliments like, "You're awesome!" Or just
                    bringing some unexpected joy into the world. Now that was a ghost thing —a ghosting! —Gib could get behind. Determinad to give it a try, he started leaving little anonymous surprises for friends & family. Sometimes, Gib
                    even "ghosted" perfect strangers.
                </p>
                <p>
                    And whaddya know? Not only did THEY seem to feel better & brightar, HE always felt better & brighter! Gib. Was. Hooked. This good ghosting thing was fun, and for the first time in a long time, he was happy. Like, REALLY
                    happy. And that wasn't something he thought he should keep to himself. It was too simple and too powerful not to share. "Everyone." Gib thought, "should get to feel this good. All they have to do is give."
                </p>
                <br />
                <p>
                    And boo'm —Ghost Giver was born.
                </p>

                <div class="tab-cont-footer">
                    <h2>READY TO LEARN MORE?</h2>

                    <span class="span-footer">Don't forget to check out our HOW IT WORKS and GHOST STORIES pages!</span>

                    <h2 class="site-color">
                        NO ACT OF KINDNESS,<br />

                        NO MATTER HOW SMALL, <br />

                        IS EVER WASTED
                    </h2>

                    <span class="tab-author">-Aesop</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>$(document).ready(function(){var t=$("#tab-block"),a=t.find(".tab-menu  li"),i=t.find(".tab-cont > .tab-pa");i.not(":first-child").hide(),a.each(function(t){$(this).attr("data-tab","tab"+t)}),i.each(function(t){$(this).attr("data-tab","tab"+t)}),a.click(function(){var a=$(this).data("tab");t.find(i).hide(),t.find(i).filter("[data-tab="+a+"]").show()}),$(".tab-menu > li").click(function(){$(".tab-menu li.active").removeClass("active"),$(this).addClass("active")})});</script>



