<style>
   .tab-block {
      width: 100%;
      margin: 50px auto;
      margin-bottom: 0
  }

  .tab-block .tab-menu {
      display: block;
      list-style: none;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      padding: 0;
      margin-bottom: 40px
  }


  .tab-block li {
      background-color: #1e3d5a;
      color: #fff;
      font-weight: 600;
      width: 225px;
      text-align: center;
      cursor: pointer;
      user-select: none;
      display: inline-block;
      padding: 8px 15px
  }

  .tab-block li:hover:not(.active) {
      background: #ac5ed4
  }

  .tab-block .active {
      background-color: #ac5ed4;
      cursor: default
  }

  .site-color {
      color: #ac5ed4
  }

  .tab-cont {
      width: 100%;
      min-height: 400px
  }

  .tab-cont .tab-pa {
      padding: 20px 25px;
      max-width: 1000px;
      margin: 0 auto
  }


  .bg-main-works {
      max-width: 100%;
      margin: 0 auto;
      display: block
  }

    .item-banner img{
        max-width:100%;
  margin:0 auto;
  border: 1px solid #ac5ed4;
  }
  .item-banner h3{
  color:#ac5ed4;
    font-weight:bold;
    font-size:25px;
    margin-bottom:20px;
  }
  .item-banner{
  margin-bottom:30px;
  }
  .item-banner .col-md-6{
  padding:20px;
  margin-bottom:15px;
  }
  .step-how{
  display: inline-block;
    padding: 30px;
    border-radius: 50%;
    border: 3px solid #1e3d5a;
    position: relative;
  }
  .sus-text{
  display: block;
    margin-left: 62px;
    line-height: 1;
    font-size: 12px;
    margin-top: -8px;
  }
  
  .step-how-title{
    font-size:1.3em;
  margin-left: 10px;
    position: relative;
    top: -25px;
  }
  .step-how-inner{
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    background: #a7d2ed;
    border-radius: 50%;
    position: absolute;
    /* top: 0; */
    left: 0;
    top: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3em;
    padding: 5px 0;
  }
  .item-buttons{
  margin-top:25px;
  margin-bottom:25px;
  }
  .item-buttons a{
background: #a7d2ed;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: inline-block;
    min-width: 110px;
    text-align: center;
  }
  
  .step-how-icon{
      border: 0 !important;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .footer-step{
  width:100%;
    max-width:800px;
    margin:0 auto;
    margin-top:25px;
  }
  .footer-step p{
    font-size: 1em;
    font-weight: 500;
}
  .mobile-show{
  display:none !important;
  }
  
      .step-how-title-ct{
        font-size:1.3em;
  margin-left: 10px;
    }
    
      @media screen and (max-width: 991px) {
        .mobile-hide{
  display:none !important;
  }
      
        .mobile-show{
  display:block !important;
  }
}

 
  @media screen and (max-width:768px) {
    
    
    .step-how{
      
      padding:20px;
    
    }
    .step-how-title {
    top:-15px;
    }
    
    .step-how-inner {
      padding:0;
    width: 32px;
    height: 32px;
    font-size: 15px;
    }
    
    .step-how-title,.step-how-title-ct{
    font-size:0.9em;
    }
   
    .item-banner h3 {
      margin-top:20px;
    }
    
            .item-banner{
  margin-bottom:0px;
  }
      .item-banner .col-md-6{
      padding: 10px 20px;
      }

      .tab-block li {
    vertical-align: middle;
    font-size: 0.8em;
    width: auto;
    padding: 5px 4px;
    line-height: 1.5;
    white-space: break-spaces;
    margin-bottom: 5px;
      }
      .bg-works-contain {
          display: block;
          width: 100%;
          margin: 20px auto
      }
  }
</style>

<img class="bg-main-works" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/banner_how.jpg?v=1607315495" />

<div class="container">
    <div class="tab-block" id="tab-block">
        <ul class="tab-menu">
            <li class="active">PHYSICAL CARDS</li>
            <li>DOWNLOADABLE CARDS</li>
            <li>E-TAILERS</li>
        </ul>
        <div class="tab-cont">
            <div class="tab-pa">
                          <div class="row item-banner">
                    <div class="col-md-8">
                        <h3>
                            <img class="step-how-icon" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/icon.png?v=1607323341"><span class="step-how-title-ct">PICK A PERSON</span>
                        </h3>
                        <p>
                            First, choose who's getting your ghost give. Whether it's your favorite uncle, best friend, quirky co-worker or a perfect stranger, at Ghost Giver we don't think small. We'll even help you give to an entire
                            organization. Know a slew of deserving teachers? Say thanks! Gotta favorite cofee spot? Send a surprise to the entire staff. It's easy!
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-4 mobile-hide">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                    <div class="col-md-8">
                        <h3>
                            <img class="step-how-icon" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/icon2.png?v=1607323341"><span class="step-how-title-ct">CHOOSE YOUR GIVE</span>
                        </h3>
                        <p>
                            Next, decide on your give. It can be anything. Really. So, if you have something in mind, great! You know your recipient(s) best. We'll just help you keep it on the down-low. A little stumped on what to give?
                            Check out what others are doing by clicking the GIVE and GHOST STORIES ideas buttons below.
                        </p>

                        <div class="item-buttons">
                            <a href="/">Give ideas</a>
                            <a href="/">Ghost Stories</a>
                        </div>
                    </div>
                    <div class="col-md-6 mobile-show">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-8">
                        <h3>
                            <img class="step-how-icon" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/icon3.png?v=1607323341"><span class="step-how-title-ct">ADD A CARD</span>
                        </h3>
                        <p>
                            Add a Ghost Giver card so your recipient knows they got GHOSTED (the good way). Just print one of our downloadable cards or purchase our physical cards & envelopes. lt's your choice. Click below to see both
                            options.
                        </p>
                        <div class="item-buttons">
                            <a href="/">Free</a>
                            <a href="/">Purchase</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-4 mobile-hide">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                    <div class="col-md-8">
                        <h3>
                            <img class="step-how-icon" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/icon4.png?v=1607323341"><span class="step-how-title-ct">GIVE IT OR SEND IT</span>
                        </h3>
                        <p>
                            Hand-deliver your gift the old school, sneaky way by leaving it on a doorstep, desk—or whatever—the more anonymous, the better. Or, of course, you can also send something - without your recipient knowing it's
                            you. You can aslo Ghost Give through Amazon or other e-tailers. Click below to leam more.
                        </p>

                        <div class="item-buttons">
                            <a href="/">Our Partners</a>
                            <a href="/">E-tailers</a>
                        </div>
                    </div>
                    <div class="col-md-6 mobile-show">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-8">
                        <h3>
                            <img class="step-how-icon" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/icon5.png?v=1607323341"><span class="step-how-title-ct">GET CONFIRMATION</span><span class="sus-text">(Subscribers Only)</span>
                        </h3>
                        <p>
                            Wonder if they got it? We've got you covered. When you include a Ghost Giver card + code your recipient can retrieve your anonymous message AND you can know they got it. When they visit the site and enter their
                            code, we'll ask if they're okay with letting the sender (that's YOU!) know they got it. If they select YES, you get a confirmation text.
                        </p>
                        <div class="item-buttons">
                            <a href="/">Learn More </a>
                            <a href="/">Subscribe </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-4 mobile-hide">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                    <div class="col-md-8">
                        <h3>
                          <img class="step-how-icon" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/icon6.png?v=1607323341"><span class="step-how-title-ct">GET A THANK YOU</span><span class="sus-text">(Subscribers Only)</span>
                        </h3>
                        <p>
                            Not only do you get delivery confirmation, but also a little extra—the chance to get a thank you! After the recipient reads their anonymous message, we ask them if they'd like to send a thank you message to the
                            sender (that's YOU!). If they choose to do so, you'll get another text. Be prepared to get some warm and fuzzies.
                        </p>

                        <div class="item-buttons">
                            <a href="/">Learn More </a>
                            <a href="/">Subscribe </a>
                        </div>
                    </div>
                    <div class="col-md-6 mobile-show">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>
            </div>
            <div class="tab-pa">
                <div class="row item-banner">
                    <div class="col-md-8">
                        <h3>
                            <span class="step-how"><span class="step-how-inner">1</span></span><span class="step-how-title">PICK A CARD</span>
                        </h3>
                        <p>
                            First, choose who's getting your ghost give. Whether it's your favorite uncle, best friend, quirky co-worker or a perfect stranger, at Ghost Giver we don't think small. We'll even help you give to an entire
                            organization. Know a slew of deserving teachers? Say thanks! Gotta favorite cofee spot? Send a surprise to the entire staff. It's easy!
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-4 mobile-hide">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                    <div class="col-md-8">
                        <h3>
                            <span class="step-how"><span class="step-how-inner">2</span></span><span class="step-how-title">DOWNLOAD PDF</span>
                        </h3>
                        <p>
                            Next, decide on your give. It can be anything. Really. So, if you have something in mind, great! You know your recipient(s) best. We'll just help you keep it on the down-low. A little stumped on what to give?
                            Check out what others are doing by clicking the GIVE and GHOST STORIES ideas buttons below.
                        </p>

                        <div class="item-buttons">
                            <a href="/">Give ideas</a>
                            <a href="/">Ghost Stories</a>
                        </div>
                    </div>
                    <div class="col-md-6 mobile-show">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-8">
                        <h3>
                            <span class="step-how"><span class="step-how-inner">3</span></span><span class="step-how-title">PRINT & CUT</span>
                        </h3>
                        <p>
                            Add a Ghost Giver card so your recipient knows they got GHOSTED (the good way). Just print one of our downloadable cards or purchase our physical cards & envelopes. lt's your choice. Click below to see both
                            options.
                        </p>
                        <div class="item-buttons">
                            <a href="/">Free</a>
                            <a href="/">Purchase</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-4 mobile-hide">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                    <div class="col-md-8">
                        <h3>
                            <span class="step-how"><span class="step-how-inner">4</span></span><span class="step-how-title">WRITE YOUR CODE</span>
                        </h3>
                        <p>
                            Hand-deliver your gift the old school, sneaky way by leaving it on a doorstep, desk—or whatever—the more anonymous, the better. Or, of course, you can also send something - without your recipient knowing it's
                            you. You can aslo Ghost Give through Amazon or other e-tailers. Click below to leam more.
                        </p>

                        <div class="item-buttons">
                            <a href="/">Our Partners</a>
                            <a href="/">E-tailers</a>
                        </div>
                    </div>
                    <div class="col-md-6 mobile-show">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-8">
                        <h3>
                            <span class="step-how"><span class="step-how-inner">5</span></span><span class="step-how-title">ATTACH YOUR CARD</span>
                        </h3>
                        <p>
                            Wonder if they got it? We've got you covered. When you include a Ghost Giver card + code your recipient can retrieve your anonymous message AND you can know they got it. When they visit the site and enter their
                            code, we'll ask if they're okay with letting the sender (that's YOU!) know they got it. If they select YES, you get a confirmation text.
                        </p>
                        <div class="item-buttons">
                            <a href="/">Learn More </a>
                            <a href="/">Subscribe </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-4 mobile-hide">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                    <div class="col-md-8">
                        <h3>
                            <span class="step-how"><span class="step-how-inner">6</span></span><span class="step-how-title">GIVE IT OR SEND IT</span>
                        </h3>
                        <p>
                            Not only do you get delivery confirmation, but also a little extra—the chance to get a thank you! After the recipient reads their anonymous message, we ask them if they'd like to send a thank you message to the
                            sender (that's YOU!). If they choose to do so, you'll get another text. Be prepared to get some warm and fuzzies.
                        </p>

                        <div class="item-buttons">
                            <a href="/">Learn More </a>
                            <a href="/">Subscribe </a>
                        </div>
                    </div>
                    <div class="col-md-6 mobile-show">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-8">
                        <h3>
                            <span class="step-how"><span class="step-how-inner">7</span></span><span class="step-how-title">GET CONFIRMATION</span>
                        </h3>
                        <p>
                            Wonder if they got it? We've got you covered. When you include a Ghost Giver card + code your recipient can retrieve your anonymous message AND you can know they got it. When they visit the site and enter their
                            code, we'll ask if they're okay with letting the sender (that's YOU!) know they got it. If they select YES, you get a confirmation text.
                        </p>
                        <div class="item-buttons">
                            <a href="/">Learn More </a>
                            <a href="/">Subscribe </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-4 mobile-hide">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                    <div class="col-md-8">
                        <h3>
                            <span class="step-how"><span class="step-how-inner">8</span></span><span class="step-how-title">GET A THANK YOU</span>
                        </h3>
                        <p>
                            Not only do you get delivery confirmation, but also a little extra—the chance to get a thank you! After the recipient reads their anonymous message, we ask them if they'd like to send a thank you message to the
                            sender (that's YOU!). If they choose to do so, you'll get another text. Be prepared to get some warm and fuzzies.
                        </p>

                        <div class="item-buttons">
                            <a href="/">Give ideas</a>
                            <a href="/">Ghost Stories</a>
                        </div>
                    </div>
                    <div class="col-md-6 mobile-show">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>


            </div>
            <div class="tab-pa">
                    <div class="row item-banner">
                    <div class="col-md-8">
                        <h3>
                            <span class="step-how"><span class="step-how-inner">1</span></span><span class="step-how-title">PICK AN E-TAILER</span>
                        </h3>
                        <p>
                            First, choose who's getting your ghost give. Whether it's your favorite uncle, best friend, quirky co-worker or a perfect stranger, at Ghost Giver we don't think small. We'll even help you give to an entire
                            organization. Know a slew of deserving teachers? Say thanks! Gotta favorite cofee spot? Send a surprise to the entire staff. It's easy!
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-4 mobile-hide">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                    <div class="col-md-8">
                        <h3>
                            <span class="step-how"><span class="step-how-inner">2</span></span><span class="step-how-title">ADD ITEM TO CART</span>
                        </h3>
                        <p>
                            Next, decide on your give. It can be anything. Really. So, if you have something in mind, great! You know your recipient(s) best. We'll just help you keep it on the down-low. A little stumped on what to give?
                            Check out what others are doing by clicking the GIVE and GHOST STORIES ideas buttons below.
                        </p>

                        <div class="item-buttons">
                            <a href="/">Give ideas</a>
                            <a href="/">Ghost Stories</a>
                        </div>
                    </div>
                    <div class="col-md-6 mobile-show">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-8">
                        <h3>
                            <span class="step-how"><span class="step-how-inner">3</span></span><span class="step-how-title">SELECT "GIFT" OPTION</span>
                        </h3>
                        <p>
                            Add a Ghost Giver card so your recipient knows they got GHOSTED (the good way). Just print one of our downloadable cards or purchase our physical cards & envelopes. lt's your choice. Click below to see both
                            options.
                        </p>
                        <div class="item-buttons">
                            <a href="/">Free</a>
                            <a href="/">Purchase</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-4 mobile-hide">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                    <div class="col-md-8">
                        <h3>
                            <span class="step-how"><span class="step-how-inner">4</span></span><span class="step-how-title">TYPE INSTRUCTIONS</span>
                        </h3>
                        <p>
                            Hand-deliver your gift the old school, sneaky way by leaving it on a doorstep, desk—or whatever—the more anonymous, the better. Or, of course, you can also send something - without your recipient knowing it's
                            you. You can aslo Ghost Give through Amazon or other e-tailers. Click below to leam more.
                        </p>

                        <div class="item-buttons">
                            <a href="/">Our Partners</a>
                            <a href="/">E-tailers</a>
                        </div>
                    </div>
                    <div class="col-md-6 mobile-show">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-8">
                        <h3>
                            <span class="step-how"><span class="step-how-inner">5</span></span><span class="step-how-title">RECIPIENT RECEIVES IT</span>
                        </h3>
                        <p>
                            Wonder if they got it? We've got you covered. When you include a Ghost Giver card + code your recipient can retrieve your anonymous message AND you can know they got it. When they visit the site and enter their
                            code, we'll ask if they're okay with letting the sender (that's YOU!) know they got it. If they select YES, you get a confirmation text.
                        </p>
                        <div class="item-buttons">
                            <a href="/">Learn More </a>
                            <a href="/">Subscribe </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-4 mobile-hide">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                    <div class="col-md-8">
                        <h3>
                            <span class="step-how"><span class="step-how-inner">6</span></span><span class="step-how-title">THEY GET YOUR MESSAGE</span>
                        </h3>
                        <p>
                            Not only do you get delivery confirmation, but also a little extra—the chance to get a thank you! After the recipient reads their anonymous message, we ask them if they'd like to send a thank you message to the
                            sender (that's YOU!). If they choose to do so, you'll get another text. Be prepared to get some warm and fuzzies.
                        </p>

                        <div class="item-buttons">
                            <a href="/">Learn More </a>
                            <a href="/">Subscribe </a>
                        </div>
                    </div>
                    <div class="col-md-6 mobile-show">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-8">
                        <h3>
                            <span class="step-how"><span class="step-how-inner">7</span></span><span class="step-how-title">GET CONFIRMATION</span>
                        </h3>
                        <p>
                            Wonder if they got it? We've got you covered. When you include a Ghost Giver card + code your recipient can retrieve your anonymous message AND you can know they got it. When they visit the site and enter their
                            code, we'll ask if they're okay with letting the sender (that's YOU!) know they got it. If they select YES, you get a confirmation text.
                        </p>
                        <div class="item-buttons">
                            <a href="/">Learn More </a>
                            <a href="/">Subscribe </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>

                <div class="row item-banner">
                    <div class="col-md-4 mobile-hide">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                    <div class="col-md-8">
                        <h3>
                            <span class="step-how"><span class="step-how-inner">8</span></span><span class="step-how-title">GET A THANK YOU</span>
                        </h3>
                        <p>
                            Not only do you get delivery confirmation, but also a little extra—the chance to get a thank you! After the recipient reads their anonymous message, we ask them if they'd like to send a thank you message to the
                            sender (that's YOU!). If they choose to do so, you'll get another text. Be prepared to get some warm and fuzzies.
                        </p>

                        <div class="item-buttons">
                            <a href="/">Give ideas</a>
                            <a href="/">Ghost Stories</a>
                        </div>
                    </div>
                    <div class="col-md-6 mobile-show">
                        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
                    </div>
                </div>
          
          
          </div>
          
                          <div class="row item-banner">
                    <div class="col-md-12">
                        <div class="text-center footer-step">
                            <p>
                                Have any ideas on how we can make Ghost Giver better?
                            </p>
                            <p>Share your ideas or suggestions by <a href="#">clicking here</a>. We'd love to hear from you!</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>




<script>$(document).ready(function(){var t=$("#tab-block"),a=t.find(".tab-menu  li"),i=t.find(".tab-cont > .tab-pa");i.not(":first-child").hide(),a.each(function(t){$(this).attr("data-tab","tab"+t)}),i.each(function(t){$(this).attr("data-tab","tab"+t)}),a.click(function(){var a=$(this).data("tab");t.find(i).hide(),t.find(i).filter("[data-tab="+a+"]").show()}),$(".tab-menu > li").click(function(){$(".tab-menu li.active").removeClass("active"),$(this).addClass("active")})});</script>

