<style>
  .pricing-footer{
  text-align:center;
        padding: 50px 0;
  }
  .pricing-footer p{
  font-size:23px;
    font-weight: 600;
    margin:0;
  }
    .pricing-footer h2{
	color:#af59d7;
      margin:0;
    margin: 10px 0;
    font-size: 2.2em;

  }
  .bg-main-works{
      max-width: 100%;
    margin: 0 auto;
    display: block;
  }
  
  .item-row-price{
    display:block;
  font-size:1.8em;
    color:#193e5a;
    font-weight:600;
    margin-bottom:30px;
  }
  .item-banner img{
    display: block;
  margin:0 auto;
    max-width:100%;
  }
  .item-row-price sup{
  font-size:15px;
  }
  .item-banner h3{
  color:#af59d7;
    font-weight:bold;
    font-size:2em;
    margin-bottom:15px;
  }
  .item-banner{
  margin-bottom:30px;
  }
  .item-banner .item-row {
  padding:20px;
  margin-bottom:15px;
  }
  .bg-works-contain{
        display: block;
    width: 50%;
    margin: 50px auto;
    text-align: center;
  }
  
  .footer-row{
  max-width:800px;
    margin:0 auto;
  }
  
  .mobile-show{
  display:none !important;
  }
      @media screen and (max-width: 991px) {
        .mobile-hide{
  display:none !important;
  }
      
        .mobile-show{
  display:block !important;
  }
}
    @media screen and (max-width: 768px) {
      .pricing-footer p{
      font-size:18px;
      }
      .pricing-footer{
      padding:30px 0;
      }
      .pricing-footer h2{
      font-size:1.5em;
      }
      
      .item-banner h3{
      font-size:1.2em;
      }
      .item-row-price{
      font-size:1em;
      }
      .item-row-price sup{
      font-size:10px;
      }
  .bg-works-contain{
  display: block;
    width: 100%;
    margin: 20px auto;
  }
        .item-banner{
  margin-bottom:0px;
  }
      .item-banner .item-row{
      padding: 10px 20px;
      }
}
  
</style>

<img class="bg-main-works" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/banner_pricing.jpg?v=1607351808" />
<div class="container">
    <div class="row item-banner">
        <div class="item-row col-md-4 mobile-hide">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
        </div>
        <div class="item-row col-md-8">
            <h3>DOWNLOADABLE CARDS</h3>
          <span class="item-row-price">FREE</span>
            <p>
 Download our Ghost Giver YOU'VE BEEN GHOSTED! cards at no cost. 
We have standard and holiday-themed cards to choose from in a range of sizes. 
            </p>
        </div>
        <div class="item-row col-md-6 mobile-show">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
        </div>
    </div>

    <div class="row item-banner">
        <div class="item-row col-md-4 mobile-hide">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
        </div>
        <div class="item-row col-md-8">
            <h3>CARDS & ENVELOPES</h3>
                    <span class="item-row-price">$7<sup>.99</sup>/dozen</span>

<p>12 custom Ghost Giver envelopes and 'YOU'VE BEEN GHOSTED!" insert cards. 
  Two cards to choose from: </p>
              <ul>
                <li>Card with area for code and recipient instructions (subscriber exclusive) </li>
                <li>Card without space for code and no recipient instruction (non-subscribers) </li>
          </ul>
        </div>
        <div class="item-row col-md-6 mobile-show">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
        </div>
    </div>

    <div class="row item-banner">
        <div class="item-row col-md-4 mobile-hide">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
        </div>
        <div class="item-row col-md-8">
            <h3>BE A SUBSCRIBER</h3>
           <span class="item-row-price">$14<sup>.99</sup> per month</span>
            <p>
Would you like to know when the recipients of your kindness get what you gave them? 
As a subscriber you'll be able to include a code on each "Ghost Give" you do which 
Will allow you to receive delivery confirmation and potentially get a "thank you." As part 
of your subscription, you'll also receive 6 Ghost Giver-branded cards & envelopes + 3 
postcards each month. Visit the LEARN MORE page for more details. 
            </p>
        </div>
        <div class="item-row col-md-6 mobile-show">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/general_image.jpg?v=1607317348" />
        </div>
    </div>

    <div class="row item-banner footer-row">
        <div class="col-md-4">
          
          <img src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/logo_banner.png?v=1607353405">
          </div>
      <div class="col-md-8">
        <div class="pricing-footer">
          <p> Half of your monthly subsription goes to the </p>
          <h2>GHOST GIVER FOUNDATION </h2>
          <p>to do "Ghost Gives" to worthy causes </p>
        </div>
          
        </div>
    </div>
</div>