<style>
    .bg-main-works {
      max-width: 100%;
      margin: 0 auto;
      display: block
  }
</style>
<img class="bg-main-works" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/learn_more.jpg?v=1607324574" />
<div class="block block--no-preload global_width">
</div>
<div class="container">
  {{ page.content }}
</div>

