<style>
    .bg-main-works {
      max-width: 100%;
      margin: 0 auto;
      display: block
  }
  .page-info{
  max-width:800px;
    margin:0 auto;
  }
    .button-donation{
      text-align:center;
  margin-top:25px;
  margin-bottom:25px;
  }
  .button-donation a{
background: #a7d2ed;
    color: #fff;
    padding: 5px 40px;
    margin-right: 10px;
    border-radius: 19px;
    display: inline-block;
    min-width: 110px;
    text-align: center;
    font-weight: 600;
  }
  .page-social img{
    display:block;
  max-width:100%;
    margin:15px auto;
  }
  .page-social{
  max-width:600px;
    margin:0 auto;
  }
</style>
<img class="bg-main-works" src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/foundation.jpg?v=1607360206" />
<div class="block block--no-preload global_width">

<div class="container">
  <div class="page-info">
  {{ page.content }}
    
    
    <div class="button-donation">
      
      <a href="/" >DONATE NOW</a>
      
      
    </div>
    
  </div>
    <div class="page-social">
      
      <div class="row">
        <div class="col-md-4">
          <img  src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/Group_4.png?v=1607360662" />
        </div>
        
               <div class="col-md-4">
          <img  src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/nicole-wilcox-Fg632J5h-hk-unsplash.png?v=1607360662" />
        </div>
               <div class="col-md-4">
          <img  src="https://cdn.shopify.com/s/files/1/0508/9994/3601/files/toa-heftiba-O3ymvT7Wf9U-unsplash.png?v=1607360662" />
        </div>
      </div>
      
  </div>
</div>
</div>
